
    <div class="container-fluid"> 
      <ngb-carousel class="carousel">
          <ng-template ngbSlide>
           
              <img src="../../assets/images/gallery/video.png" alt="Random third slide" class="imglanding">
              <div class="carousel-caption">
                <h3 style="text-shadow: 2px 2px #3358FF;;font-size:34px">Diferentes videos de alta calidad</h3>
              </div>
      
          </ng-template>
        <ng-template ngbSlide>
  
          <img src="../../assets/images/gallery/clase.jpg" alt="Random first slide" class="imglanding">
          <div class="carousel-caption">
            <h3 style="text-shadow: 2px 2px #3358FF;;font-size:34px">Recursos educativos, como apoyo a clases </h3>
          </div>
  
        </ng-template>
        <ng-template ngbSlide >
         
          <img src="../../assets/images/gallery/multimedia1.png" alt="Random second slide" class="imglanding">
          <div class="carousel-caption">
            <h3 style="text-shadow: 2px 2px #3358FF;;font-size:34px">Creación de diferentes tipos de archivos</h3>
          </div>
       
        </ng-template>
        
      </ngb-carousel>
    </div>