
    <div class="container-fluid"> 
      <ngb-carousel class="carousel">
        <ng-template ngbSlide>
  
          <img src="../../assets/images/gallery/clase.jpg" alt="Random first slide" class="imglanding">
          <div class="carousel-caption">
            <h3>Recursos educativos, como apoyo a clases </h3>
            <p>This carousel uses customized default values.</p>
          </div>
  
        </ng-template>
        <ng-template ngbSlide >
         
          <img src="../../assets/images/gallery/multimedia1.png" alt="Random second slide" class="imglanding">
          <div class="carousel-caption">
            <h3>Creación de diferentes tipos de archivos</h3>
            <p>This carousel doesn't pause or resume on mouse events</p>
          </div>
       
        </ng-template>
        <ng-template ngbSlide>
           
          <img src="../../assets/images/gallery/video.png" alt="Random third slide" class="imglanding">
          <div class="carousel-caption">
            <h3>Diferentes videos de alta calidad</h3>
            <p>This carousel uses customized default values.</p>
          </div>
  
        </ng-template>
      </ngb-carousel>
    </div>