
  <div class="row">
        <div class="col-6 col-md-4" *ngFor="let rec of recursos">
          <div class="card faintcards">
              <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">{{rec.nombre}}</span>
              <div class="card-body">
                <h6 class="heading heading-sm strong-400 text-muted mb-4">
                    <strong> Id Proyecto </strong> {{rec.idProyecto}}
                </h6>
                <p class="card-text "><strong> Descripcion : </strong> {{rec.descripcion}}</p> 
                <p class="card-text"><strong> Id Solicitud : </strong>{{rec.idSolicitud}} </p>
                <p class="card-text"><strong>Descripción Solicitud : </strong>  {{rec.descripcionSolicitud}}</p>
               </div>
        
              </div>
        </div>

      </div>